* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');

@import 'antd/dist/antd.css';
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(0.75em + 1vmin);
}

